# API Configuration
# PORT=8000
# CORS_ORIGINS=http://localhost:3000


# EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
# EMBEDDING_MAX_BATCH_SIZE=32
# EMBEDDING_DEVICE=cpu

#1. backend only
BACKEND_URL=http://localhost:8000
 
#2. Discord-only mode (no GitHub, no Supabase)
DISCORD_BOT_TOKEN="MTM5...5Vr7fw0m9PGAllLfyztCs"
ENABLE_DISCORD_BOT="true"
GEMINI_API_KEY="AIz...ct527D5h-IJCRaXE"
GEMINI_MODEL=gemini-2.0-flash

#3. Supabase setting (Discord + Github + Supabase)
SUPABASE_URL="https://...supabase.co" 
SUPABASE_KEY="ey...cnGQk"
GITHUB_TOKEN=ghp_...3IOhGP970vnjYK

#4. Full mode (FalkorDB + CodeGraph + Agents)-- 
# FalkorDB Configuration
FALKORDB_HOST=localhost 
FALKORDB_PORT=6379 
CODEGRAPH_BACKEND_URL=http://localhost:5000 
CODEGRAPH_SECRET_TOKEN=DevRAI_CodeGraph_Secret 
SECRET_TOKEN=DevRAI_CodeGraph_Secret 
CODE_GRAPH_PUBLIC=1 
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000

RABBITMQ_URL=amqp://localhost:5672/
TAVILY_API_KEY="tvly-dev-....1G2k3ivF56SJfWJ4" 

# Langsmith
LANGSMITH_TRACING="true" 
LANGSMITH_ENDPOINT="https://api.smith.langchain.com" 
LANGSMITH_API_KEY="lsv2_pt...d9d989_953d073741"
LANGSMITH_PROJECT="devr"

ORG_NAME=AOSSIE
ORG_WEBSITE=https://aossie.org
ORG_GITHUB=https://github.com/AOSSIE-Org
ORG_TWITTER=https://x.com/aossie_org